@import "tailwindcss";

:root {
  font-family: Poppins;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  height: auto
}

#app {
  min-height: 100%;
  height: auto;
  margin: 0 ;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.MainFrame {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-image: url("TileBackground.jpg");
  background-size: 150% 40%;
  background-repeat: repeat;
  z-index: -1
}


.TopChocolateTexture,
.BottomChocolateTexture {
  margin: 0;
  padding: 0;
  height: 20vh;
  width: 100vw;
  background-image: url("ChocolateTransTexture.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 1
}

.BottomChocolateTexture {
  transform: scaleY(-1)
}

.MainContentHolder {
  margin: 0;
  padding: 0;
  height: 80%;
  width: 100vw;
  align-items: center
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 900;
  color: black
} 

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 3px solid #000
}

.separator:not(:empty):before{
  margin-right: .5em;
  margin-left: .5em
}

.separator:not(:empty)::after{
  margin-left: .5em;
  margin-right: .5em
}

.CompanyName {
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
}


